BasedOnStyle: LLVM
IndentWidth: 8
UseTab: true
SpaceBeforeParens: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
